.table-container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
  font-size: 30px;
  font-family: Arial, monospace;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #333;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f1f1f1;
}

tbody tr:hover {
  background: #e5e5e5;
}
